// components
@import "./var.scss";

/* card */
.card {
    height: 426px;
    border: 1px solid rgba(0, 34, 51, 0.1);
    box-shadow: 0 8px 12px -8px rgba(0, 34, 51, 0.1);
    border-radius: 0;
    transition: 0.125s;
    overflow: hidden;
    &:hover {
        box-shadow: 0 8px 16px -8px rgba(0, 34, 51, 0.2);
    }
    p {
        font-size: 14px;
    }
}

.card-eyebrow {
    display: block;
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    color: #4c6470;
    text-transform: uppercase;
}

.card-link {
    font-size: 14px;
    margin-top: auto;
    font-size: 16px;
    line-height: 24px;
    color: #0af;
    &:after {
        font-family: "FontAwesome";
        content: "\f054";
        font-size: 14px;
        margin-left: 4px;
    }
}

.card-block {
    max-height: 240px;
}

.card-text {
    height: 50px;
}

.card-post-img {
    object-fit: cover;
    background-image: url("https://images.unsplash.com/photo-1520607162513-77705c0f0d4a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=640&q=80");
    background-size: cover;
    // height: 348px;
    // @media all and (max-width: 992px) {
    //     height: 328px;
    // }
    // @media all and (max-width: 768px) {
    //     height: 240px;
    // }
}
/* // card */

/* page */
.page-template-page-headline,
.page-template-page-headline-wide {
    .top-title {
        h1 {
            text-align: center;
        }
    }
}

.top-title {
    height: auto;
    min-height: 100px;
    background-color: #548bff !important;
    h2 {
        position: relative;
        top: auto;
        @media all and (max-width: 767px) {
            top: 0;
        }
    }
}

.headline-title {
    h1 {
        font-size: 70px;
        text-transform: capitalize;
        font-weight: 100;
        transform: none !important;
    }
    * {
        color: white;
    }
}

/* //page */

/* blog */
.blog-design-content {
    ul {
        overflow: hidden;
    }
}

/* // blog */

.cat-nav .nav-item.active {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: -45%;
        background-color: $blue;
    }
}

.search-form {
    position: relative;
}

.search-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid #d6d6d6;
    border-right: none;
    &:after {
        content: "\f002";
        font-family: "FontAwesome";
        font-size: 1.25em;
    }
}

.search-field {
    width: 375px;
    font-size: 1.25em !important;
    border: 1px solid #d6d6d6;
    border-left: none;
    color: #555 !important;
    padding-left: 12px !important;
}

.search-field::placeholder {
    color: #777 !important;
}

/* scroll down indicator */
.chevron-strip {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 120px;
    right: 15vw;
    bottom: 2%;
    margin: auto;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.5);
    cursor: pointer;
    opacity: 0;
    transition: opacity 1s;
    @media all and (max-width: 992px) {
        left: 0;
        right: 0;
    }
    &.scrolled {
        display: none;
        opacity: 0;
    }
    &.idle {
        display: flex;
        opacity: 1;
    }
    p {
        position: absolute;
        width: 100%;
        bottom: 0;
        text-align: center;
        left: 0;
        right: 0;
        margin: auto;
        font-family: "Poppins", sans-serif !important;
        animation: 4s lightenText infinite;
    }
}
.chevron {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: -2px auto;
    border: 2px solid black;
    border-left: none;
    border-top: none;
    transform: rotate(45deg);
    animation: 4s lightenStrip infinite;
    &:first-of-type {
        opacity: 0.25;
        animation-delay: 0s;
    }

    &:nth-of-type(2) {
        opacity: 0.5;
        animation-delay: 0.2s;
    }

    &:last-of-type {
        animation-delay: 0.4s;
    }
}

@keyframes lightenStrip {
    0% {
        border-color: black;
        opacity: 0;
        margin-top: -4px;
    }
    10% {
        border-color: black;
    }
    20% {
        border-color: #00aeef;
        opacity: 1;
        margin-top: -2px;
    }
    30% {
        border-color: black;
        opacity: 0.15;
        margin-top: 0px;
    }
    50% {
        border-color: black;
        opacity: 0;
        margin-top: 2px;
    }
    100% {
        border-color: black;
        opacity: 0;
    }
}

@keyframes lightenText {
    0% {
        opacity: 0;
        color: black;
    }
    5% {
        opacity: 0;
    }
    23% {
        opacity: 0.55;
        color: black;
    }
    30% {
        opacity: 0.75;
        color: #00aeef;
    }
    100% {
        color: black;
        opacity: 0;
    }
}
/* //scroll-indicator */

/* projec pricing */
.project-pricing {
    .wp-block-column {
        padding-left: 20px;
        padding-right: 20px;
    }
}
/* projec pricing */
/* pricing-table */
.pricing-table {
    text-align: center;
    width: 100%;
    box-shadow: 10px 5px 13px rgba(0, 0, 0, 0.19);
    transition: all 0.25s ease;
    border-radius: 20px;
    &.priority {
        transform: scale(1.08);
    }
    &:hover {
        transform: scale(1.1);
    }
    .pricing-title,
    h3 {
        display: flex;
        height: 103px;
        justify-content: center;
        align-items: center;
        color: #fff;
        background: #8eb1fc;
        margin-bottom: 0px;
        padding: 20px 0;
        text-transform: inherit;
        font-weight: 600;
        border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
        @media all and (max-width: 300px) {
            font-size: 23px !important;
        }
    }
    .pricing-title,
    h3.h2 {
        font-size: 2.75em;
    }
    &.recommended {
        .pricing-title,
        h3 {
            background: $blue;
        }
        .pricing-action {
            background: $blue;
        }
    }
    .price {
        background: linear-gradient(to bottom, #74a0fd 0%, #8eb1fc 100%);
        font-size: 3.4em;
        font-weight: 700;
        padding: 20px;
    }
    .price {
        &.smaller-txt {
            font-size: 18px;
            font-weight: 500;
        }
        sup {
            font-size: 0.4em;
            position: relative;
            left: 5px;
        }
    }
}
/* //pricing-table */

/* Case Study Thumbnails */

.case-study-thumbs {
    & > .wp-block-group__inner-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
    }
    figure {
        width: 28.5%;
        margin-bottom: 2em;
        padding: 1em;
        border-radius: 1em;
        overflow: hidden;
        box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.25);
        transition: 0.125s;
        @media all and (max-width: 992px) {
            width: 45%;
        }

        @media all and (max-width: 767px) {
            width: 75%;
        }
        &:hover {
            box-shadow: 1px 5px 6px 4px rgba(0, 0, 0, 0.25);
        }
        img {
            height: 222px;
            @media all and (max-width: 767px) {
                height: auto;
            }
        }
    }
}

/* //Case Study Thumbnails */

/* menu nav item */

.taxonomy-nav {
    position: relative;
    z-index: 1;
    .menu-item {
        padding: 0.75em 2em;
        margin-bottom: 0;
        font-size: 1.2em;
        font-weight: 600;
        .dropdown-toggle {
            position: relative;
            white-space: nowrap;
            &:after {
                display: inline-block;
                content: "";
                margin-left: 0.5em;
                border-top: 0.3em solid;
                border-right: 0.3em solid transparent;
                border-bottom: 0;
                border-left: 0.3em solid transparent;
            }
        }
        @media all and (max-width: 767px) {
            width: 100%;
            text-align: center;
        }
        &:hover {
            & > a {
                color: orange;
            }
        }
        &:last-of-type {
            .dropdown-menu {
                right: 0;
                &:before {
                    left: initial;
                    right: 0;
                }
            }
        }
    }
    .dropdown-menu {
        display: flex !important;
        flex-direction: row;
        margin: 0;
        padding: 0;
        left: initial;
        float: none;
        border: none;
        margin-top: -10px;
        font-weight: 500;
        z-index: -1;
        opacity: 0;
        transition: 0.4s all, 0s 0.75s padding;
        max-height: 0;
        box-shadow: 3px 8px 10px 0 rgba(0, 0, 0, 0.35);
        overflow: hidden;
        font-family: $sans;
        border-radius: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        &.sub {
            left: calc(100% + 1.25em);
            top: -1.25em;
            border-bottom-left-radius: 0;
        }
        @media all and (max-width: 767px) {
            width: 100%;
            left: 0;
            text-align: center;
            flex-wrap: wrap;
        }
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 2px;
            opacity: 0;
            background: $blue;
            transition: all 0.25s, 0.25s 0.125s width;
        }
        li {
            margin-bottom: 0;
            width: 100%;
            a {
                font-size: 15px;
                color: $blue;
                opacity: 0.7;
                transition: 0.2s;
                padding: 0.85em 0.25em;
                &:hover {
                    opacity: 1;
                }
                &:first-of-type {
                    padding-top: 0.125rem;
                }
            }
        }
    }
    .dropdown:hover {
        & > .dropdown-menu {
            opacity: 1;
            z-index: 1;
            padding: 1.25em 1.25em 0.65em;
            transition: 0.4s all, 0s padding;
            margin-top: 0px;
            max-height: 350px;
            overflow: visible;
            @media all and (max-width: 767px) {
                max-height: initial;
            }
            &:before {
                width: 100%;
                opacity: 1;
            }
        }
    }
    .nav-col {
        position: relative;
        min-width: 228px;
        @media all and (max-width: 767px) {
            width: 100%;
        }
        &:not(:first-of-type) {
            @media all and (min-width: 768px) {
                margin-left: 1em;
                padding-left: 1em;
                &:before {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 1px;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    background: rgb(84, 139, 255);
                    background: linear-gradient(
                        0deg,
                        rgba(84, 139, 255, 1) 0%,
                        rgba(78, 255, 116, 0.35) 100%
                    );
                }
            }
        }
    }
}
#content_type-menu > .nav-col {
    font-weight: bold;
}
/* //menu nav item */

.taxonomy-content-section {
    // background: rgb(252, 252, 253);
    // background: linear-gradient(
    //     74deg,
    //     rgba(252, 252, 253, 1) 0%,
    //     rgba(249, 249, 250, 1) 50%,
    //     rgba(255, 254, 253, 1) 100%
    // );
    // background: black;
}

.page-template-page-templatescase-study-php main {
    background: rgb(252, 252, 253);
    background: linear-gradient(
        74deg,
        rgba(252, 252, 253, 1) 0%,
        rgba(249, 249, 250, 1) 50%,
        rgba(255, 254, 253, 1) 100%
    );
}

/* breadcrumbs */
.breadcrumb {
    background: $blue;
    color: white;
    a,
    pre {
        color: white;
        transition: 0.25s;
    }
    a:hover {
        color: orange;
    }
}
/* //breadcrumbs */

.case-study-hero-img {
    transform: perspective(400px) rotateY(-16deg);
    box-shadow: 5px 9px 5px 0 rgba(0, 0, 0, 0.25);
}

/* Project Pricing */
.project-pricing {
    width: 100%;
    flex-wrap: wrap;
    @media (max-width: 767px) {
        padding: 40px 0px;
    }
    .pricing-table {
        margin-bottom: 15px;
        @media all and (max-width: 767px) {
            display: block;
            float: none;
            margin: 10px 0 10px 0;
            width: 100%;
        }
        .price {
            h4 {
                font-size: 36px;
                color: #fff;
                text-transform: inherit;
                font-weight: 100;
                line-height: 80px;
                @media all and (max-width: 300px) {
                    font-size: 24px;
                }
            }
            em {
                color: #fff;
            }
            span,
            em {
                font-size: 32px;
                font-style: italic;
                font-weight: 100;
            }
        }
        &:hover {
            h3,
            .pricing-title {
                background: #746e8a;
            }
            .price {
                background: #534c6e;
            }
            .table-list {
                background: #2c214c;
            }
            .wp-block-button a {
                background-color: #4eff74 !important;
            }
        }
    }
}

/* footer */
.footer {
    clear: both;

    .f-about .info {
        border-bottom: none;
    }
    .title {
        font-family: $mono;
        font-size: 20px;
        font-weight: 500;
    }
    .newsletter form input {
        height: 40px;
        border: 0;
        background: transparent;
        border-bottom: 2px solid #ffff;
        border-radius: unset !important;
        color: #fff !important;
        padding: unset !important;
    }

    .footer-info {
        width: 48%;
        margin-right: 2%;
        float: left;
        margin-bottom: 20px;
        @media (max-width: 767px) {
            width: 100%;
        }
        ul {
            li {
                color: #fff;
                line-height: 30px;
                font-family: $serif;
            }
        }
        h3 {
            font-family: $mono;
            font-size: 20px;
            font-weight: 500;
        }
    }
}

@media (max-width: 767px) {
    .footer {
        display: flex;
    }

    .copy-right-footer1 {
        display: block;
        margin-top: 70px;
    }
    .copy-right-footer {
        display: none;
    }
}
/* //footer */
