.card {
  height: 426px;
  border: 1px solid rgba(0, 34, 51, 0.1);
  -webkit-box-shadow: 0 8px 12px -8px rgba(0, 34, 51, 0.1);
          box-shadow: 0 8px 12px -8px rgba(0, 34, 51, 0.1);
  border-radius: 0;
  -webkit-transition: 0.125s;
  transition: 0.125s;
  overflow: hidden;
}

.card:hover {
  -webkit-box-shadow: 0 8px 16px -8px rgba(0, 34, 51, 0.2);
          box-shadow: 0 8px 16px -8px rgba(0, 34, 51, 0.2);
}

.card p {
  font-size: 14px;
}

.card-eyebrow {
  display: block;
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #4c6470;
  text-transform: uppercase;
}

.card-link {
  font-size: 14px;
  margin-top: auto;
  font-size: 16px;
  line-height: 24px;
  color: #0af;
}

.card-link:after {
  font-family: "FontAwesome";
  content: "\f054";
  font-size: 14px;
  margin-left: 4px;
}

.card-block {
  max-height: 240px;
}

.card-text {
  height: 50px;
}

.card-post-img {
  -o-object-fit: cover;
     object-fit: cover;
  background-image: url("https://images.unsplash.com/photo-1520607162513-77705c0f0d4a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=640&q=80");
  background-size: cover;
}

.cat-nav .nav-item.active {
  position: relative;
}

.cat-nav .nav-item.active:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -45%;
  background-color: #548bff;
}

.search-form {
  position: relative;
}

.search-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid #d6d6d6;
  border-right: none;
}

.search-button:after {
  content: "\f002";
  font-family: "FontAwesome";
  font-size: 1.25em;
}

.search-field {
  width: 375px;
  font-size: 1.25em !important;
  border: 1px solid #d6d6d6;
  border-left: none;
  color: #555 !important;
  padding-left: 12px !important;
}

.search-field::-webkit-input-placeholder {
  color: #777 !important;
}

.search-field:-ms-input-placeholder {
  color: #777 !important;
}

.search-field::-ms-input-placeholder {
  color: #777 !important;
}

.search-field::placeholder {
  color: #777 !important;
}

/* scroll down indicator */
.chevron-strip {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50px;
  height: 120px;
  right: 15vw;
  bottom: 2%;
  margin: auto;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.5);
  cursor: pointer;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

@media all and (max-width: 992px) {
  .chevron-strip {
    left: 0;
    right: 0;
  }
}

.chevron-strip.scrolled {
  display: none;
  opacity: 0;
}

.chevron-strip.idle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

.chevron-strip p {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  font-family: "Poppins", sans-serif !important;
  -webkit-animation: 4s lightenText infinite;
          animation: 4s lightenText infinite;
}

.chevron {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: -2px auto;
  border: 2px solid black;
  border-left: none;
  border-top: none;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: 4s lightenStrip infinite;
          animation: 4s lightenStrip infinite;
}

.chevron:first-of-type {
  opacity: 0.25;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.chevron:nth-of-type(2) {
  opacity: 0.5;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.chevron:last-of-type {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes lightenStrip {
  0% {
    border-color: black;
    opacity: 0;
    margin-top: -4px;
  }
  10% {
    border-color: black;
  }
  20% {
    border-color: #00aeef;
    opacity: 1;
    margin-top: -2px;
  }
  30% {
    border-color: black;
    opacity: 0.15;
    margin-top: 0px;
  }
  50% {
    border-color: black;
    opacity: 0;
    margin-top: 2px;
  }
  100% {
    border-color: black;
    opacity: 0;
  }
}

@keyframes lightenStrip {
  0% {
    border-color: black;
    opacity: 0;
    margin-top: -4px;
  }
  10% {
    border-color: black;
  }
  20% {
    border-color: #00aeef;
    opacity: 1;
    margin-top: -2px;
  }
  30% {
    border-color: black;
    opacity: 0.15;
    margin-top: 0px;
  }
  50% {
    border-color: black;
    opacity: 0;
    margin-top: 2px;
  }
  100% {
    border-color: black;
    opacity: 0;
  }
}

@-webkit-keyframes lightenText {
  0% {
    opacity: 0;
    color: black;
  }
  5% {
    opacity: 0;
  }
  23% {
    opacity: 0.55;
    color: black;
  }
  30% {
    opacity: 0.75;
    color: #00aeef;
  }
  100% {
    color: black;
    opacity: 0;
  }
}

@keyframes lightenText {
  0% {
    opacity: 0;
    color: black;
  }
  5% {
    opacity: 0;
  }
  23% {
    opacity: 0.55;
    color: black;
  }
  30% {
    opacity: 0.75;
    color: #00aeef;
  }
  100% {
    color: black;
    opacity: 0;
  }
}

/* //scroll-indicator */
/* projec pricing */
.project-pricing .wp-block-column {
  padding-left: 20px;
  padding-right: 20px;
}

/* projec pricing */
/* pricing-table */
.pricing-table {
  text-align: center;
  width: 100%;
  -webkit-box-shadow: 10px 5px 13px rgba(0, 0, 0, 0.19);
          box-shadow: 10px 5px 13px rgba(0, 0, 0, 0.19);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  border-radius: 20px;
}

.pricing-table:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

.pricing-table .pricing-title,
.pricing-table h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 103px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background: #8eb1fc;
  margin-bottom: 0px;
  padding: 20px 0;
  text-transform: inherit;
  font-weight: 600;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

@media all and (max-width: 300px) {
  .pricing-table .pricing-title,
  .pricing-table h3 {
    font-size: 23px !important;
  }
}

.pricing-table .pricing-title,
.pricing-table h3.h2 {
  font-size: 2.75em;
}

.pricing-table.recommended .pricing-title,
.pricing-table.recommended h3 {
  background: #548bff;
}

.pricing-table.recommended .pricing-action {
  background: #548bff;
}

.pricing-table .price {
  background: -webkit-gradient(linear, left top, left bottom, from(#74a0fd), to(#8eb1fc));
  background: linear-gradient(to bottom, #74a0fd 0%, #8eb1fc 100%);
  font-size: 3.4em;
  font-weight: 700;
  padding: 20px;
}

.pricing-table .price.smaller-txt {
  font-size: 18px;
  font-weight: 500;
}

.pricing-table .price sup {
  font-size: 0.4em;
  position: relative;
  left: 5px;
}

/* //pricing-table */
/* Case Study Thumbnails */
.case-study-thumbs > .wp-block-group__inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.case-study-thumbs figure {
  width: 28.5%;
  margin-bottom: 2em;
  padding: 1em;
  border-radius: 1em;
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.125s;
  transition: 0.125s;
}

@media all and (max-width: 992px) {
  .case-study-thumbs figure {
    width: 45%;
  }
}

@media all and (max-width: 767px) {
  .case-study-thumbs figure {
    width: 75%;
  }
}

.case-study-thumbs figure:hover {
  -webkit-box-shadow: 1px 5px 6px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 5px 6px 4px rgba(0, 0, 0, 0.25);
}

.case-study-thumbs figure img {
  height: 222px;
}

@media all and (max-width: 767px) {
  .case-study-thumbs figure img {
    height: auto;
  }
}

/* //Case Study Thumbnails */
/* menu nav item */
.taxonomy-nav {
  position: relative;
  z-index: 1;
}

.taxonomy-nav .menu-item {
  padding: 0.75em 2em;
  margin-bottom: 0;
  font-size: 1.2em;
  font-weight: 600;
}

.taxonomy-nav .menu-item .dropdown-toggle {
  position: relative;
  white-space: nowrap;
}

.taxonomy-nav .menu-item .dropdown-toggle:after {
  display: inline-block;
  content: "";
  margin-left: 0.5em;
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

@media all and (max-width: 767px) {
  .taxonomy-nav .menu-item {
    width: 100%;
    text-align: center;
  }
}

.taxonomy-nav .menu-item:hover > a {
  color: orange;
}

.taxonomy-nav .menu-item:last-of-type .dropdown-menu {
  right: 0;
}

.taxonomy-nav .menu-item:last-of-type .dropdown-menu:before {
  left: initial;
  right: 0;
}

.taxonomy-nav .dropdown-menu {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 0;
  left: initial;
  float: none;
  border: none;
  margin-top: -10px;
  font-weight: 500;
  z-index: -1;
  opacity: 0;
  -webkit-transition: 0.4s all, 0s 0.75s padding;
  transition: 0.4s all, 0s 0.75s padding;
  max-height: 0;
  -webkit-box-shadow: 3px 8px 10px 0 rgba(0, 0, 0, 0.35);
          box-shadow: 3px 8px 10px 0 rgba(0, 0, 0, 0.35);
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.taxonomy-nav .dropdown-menu.sub {
  left: calc(100% + 1.25em);
  top: -1.25em;
  border-bottom-left-radius: 0;
}

@media all and (max-width: 767px) {
  .taxonomy-nav .dropdown-menu {
    width: 100%;
    left: 0;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.taxonomy-nav .dropdown-menu:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  opacity: 0;
  background: #548bff;
  -webkit-transition: all 0.25s, 0.25s 0.125s width;
  transition: all 0.25s, 0.25s 0.125s width;
}

.taxonomy-nav .dropdown-menu li {
  margin-bottom: 0;
  width: 100%;
}

.taxonomy-nav .dropdown-menu li a {
  font-size: 15px;
  color: #548bff;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 0.85em 0.25em;
}

.taxonomy-nav .dropdown-menu li a:hover {
  opacity: 1;
}

.taxonomy-nav .dropdown-menu li a:first-of-type {
  padding-top: 0.125rem;
}

.taxonomy-nav .dropdown:hover > .dropdown-menu {
  opacity: 1;
  z-index: 1;
  padding: 1.25em 1.25em 0.65em;
  -webkit-transition: 0.4s all, 0s padding;
  transition: 0.4s all, 0s padding;
  margin-top: 0px;
  max-height: 350px;
  overflow: visible;
}

@media all and (max-width: 767px) {
  .taxonomy-nav .dropdown:hover > .dropdown-menu {
    max-height: initial;
  }
}

.taxonomy-nav .dropdown:hover > .dropdown-menu:before {
  width: 100%;
  opacity: 1;
}

.taxonomy-nav .nav-col {
  position: relative;
  min-width: 228px;
}

@media all and (max-width: 767px) {
  .taxonomy-nav .nav-col {
    width: 100%;
  }
}

@media all and (min-width: 768px) {
  .taxonomy-nav .nav-col:not(:first-of-type) {
    margin-left: 1em;
    padding-left: 1em;
  }
  .taxonomy-nav .nav-col:not(:first-of-type):before {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #548bff;
    background: -webkit-gradient(linear, left bottom, left top, from(#548bff), to(rgba(78, 255, 116, 0.35)));
    background: linear-gradient(0deg, #548bff 0%, rgba(78, 255, 116, 0.35) 100%);
  }
}

#content_type-menu > .nav-col {
  font-weight: bold;
}

/* //menu nav item */
.page-template-page-templatescase-study-php main {
  background: #fcfcfd;
  background: linear-gradient(74deg, #fcfcfd 0%, #f9f9fa 50%, #fffefd 100%);
}

/* breadcrumbs */
.breadcrumb {
  background: #548bff;
  color: white;
}

.breadcrumb a,
.breadcrumb pre {
  color: white;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.breadcrumb a:hover {
  color: orange;
}

/* //breadcrumbs */
.case-study-hero-img {
  -webkit-transform: perspective(400px) rotateY(-16deg);
          transform: perspective(400px) rotateY(-16deg);
  -webkit-box-shadow: 5px 9px 5px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 5px 9px 5px 0 rgba(0, 0, 0, 0.25);
}

/* Project Pricing */
.project-pricing {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767px) {
  .project-pricing {
    padding: 40px 0px;
  }
}

.project-pricing .pricing-table {
  margin-bottom: 15px;
}

@media all and (max-width: 767px) {
  .project-pricing .pricing-table {
    display: block;
    float: none;
    margin: 10px 0 10px 0;
    width: 100%;
  }
}

.project-pricing .pricing-table .price h4 {
  font-size: 36px;
  color: #fff;
  text-transform: inherit;
  font-weight: 100;
  line-height: 80px;
}

@media all and (max-width: 300px) {
  .project-pricing .pricing-table .price h4 {
    font-size: 24px;
  }
}

.project-pricing .pricing-table .price em {
  color: #fff;
}

.project-pricing .pricing-table .price span,
.project-pricing .pricing-table .price em {
  font-size: 32px;
  font-style: italic;
  font-weight: 100;
}

.project-pricing .pricing-table:hover h3,
.project-pricing .pricing-table:hover .pricing-title {
  background: #746e8a;
}

.project-pricing .pricing-table:hover .price {
  background: #534c6e;
}

.project-pricing .pricing-table:hover .table-list {
  background: #2c214c;
}

.project-pricing .pricing-table:hover .wp-block-button a {
  background-color: #4eff74 !important;
}

/* footer */
.footer {
  clear: both;
}

.footer .f-about .info {
  border-bottom: none;
}

.footer h3,
.footer .title {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1em;
  white-space: nowrap;
}

.footer .newsletter form input {
  height: 40px;
  border: 0;
  background: transparent;
  border-bottom: 2px solid #ffff;
  border-radius: unset !important;
  color: #fff !important;
  padding: unset !important;
}

.footer .footer-info {
  width: 48%;
  margin-right: 2%;
  float: left;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .footer .footer-info {
    width: 100%;
  }
}

.footer .footer-info ul li {
  color: #fff;
  font-family: "Alegreya", serif;
  font-weight: 400;
  font-size: 1.15rem;
  margin-bottom: 0.85em;
}

.footer .footer-info ul li a {
  -webkit-transition: 0.125s;
  transition: 0.125s;
}

.footer .footer-info ul li a:hover {
  opacity: 0.85;
}

@media (max-width: 767px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .copy-right-footer1 {
    display: block;
    margin-top: 70px;
  }
  .copy-right-footer {
    display: none;
  }
}

/* //footer */
/*# sourceMappingURL=components.css.map */