// plugins: wordpress, libraries, or frameworks

@import "./var.scss";

/* owl-carousel */

.owl-stage-outer {
    max-height: 435px;
}

.owl-carousel {
    max-width: 1200px;
    position: relative;
    margin: auto;
}
.owl-carousel:before,
.owl-carousel:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 100%;
    top: 0;
}

.owl-carousel:before {
    left: 0;
    box-shadow: 20px 0 30px 0 inset white;
}
.owl-carousel:after {
    right: 0;
    box-shadow: -20px 0 30px 0 inset white;
}

/* // owl-carousel */

/* Contact Form 7 Plugin */

.wpcf7 {
    textarea {
        padding: 10px 10px !important;
        width: 100%;
        font-family: "Alegreya", serif !important;
        border: 3px solid #d6d6d6;
        box-sizing: border-box;
        color: #d6d6d6 !important;
        font-size: 20px !important;
        background: #f6f6f6 !important;
        font-weight: 400 !important;
    }
    input[type="text"],
    input[type="email"] {
        background: #f6f6f6 !important;
        width: 100%;
        padding: 28px 10px !important;
        font-family: $serif;
        border: 3px solid #d6d6d6;
        box-sizing: border-box;
        color: #d6d6d6 !important;
        font-size: 20px !important;
        font-weight: 400 !important;
    }
    input[type="text"]:focus {
        background: #fff;
    }
}

.wpcf7-submit {
    float: left;
    color: $violet !important;
    cursor: pointer;
    background: $green;
    padding: 15px 50px !important;
    border-radius: 30px;
    border: 3px solid $violet;
    height: unset;
    font-weight: 600;
    font-size: 17px !important;
    margin-bottom: 20px;
    &:hover {
        background: #548bff;
    }
}
span.wpcf7-not-valid-tip {
    text-shadow: none;
    font-size: 12px;
    color: #fff;
    background: #ff0000;
    padding: 5px;
}
div.wpcf7-validation-errors {
    text-shadow: none;
    border: transparent;
    background: #f9cd00;
    padding: 5px;
    color: #9c6533;
    text-align: center;
    margin: 0;
    font-size: 12px;
}
div.wpcf7-mail-sent-ok {
    text-align: center;
    text-shadow: none;
    padding: 5px;
    font-size: 12px;
    background: #59a80f;
    border-color: #59a80f;
    color: #fff;
    margin: 0;
}

span.wpcf7-form-control.wpcf7-checkbox
    span.wpcf7-list-item
    input[type="checkbox"] {
    float: left;
}
span.wpcf7-form-control.wpcf7-checkbox span.wpcf7-list-item-label {
    line-height: 46px;
    margin-left: 10px;
}

/* //Contact Form 7 Plugin */

/* Team Plugin */

.team-member {
    width: 100%;
    float: left;
    background: #fff;
    padding: 20px;
    box-shadow: 3px 2px 10px 0px #999;
    border-radius: 10px;
    margin-bottom: 30px;
}

.tlp-team .layout3 .single-team-area h3,
.tlp-team .layout3 .single-team-area .designation {
    display: inline-block;
    font-family: "Alegreya", serif !important;
    text-transform: initial;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #200a3e;
}

.tlp-team .layout3 .single-team-area h3:after {
    content: "";
    position: relative;
    display: inline-block;
    width: 31px;
    height: 31px;
    margin: 0.5em 0.075em -0.08em 0.25em;
    background-image: url("https://successkit.io/wp-content/uploads/2020/02/arrow-icon.png");
}

.tlp-team .layout3 .single-team-area p {
    font-size: 20px;
    line-height: 30px;
    color: #2c214d;
    font-weight: 500;
}

.testimonial-image img {
    border-radius: 300px;
}

.strong-view.controls-type-sides-outside {
    padding-bottom: 10px;
}

/* // Team Plugin */
